/**
Basic Bourbon page wrap
*/
.page-wrap {
    @include outer-container;
    @media only screen and (max-width: $max-width) {
        padding-right: $gutter;
        padding-left: $gutter;
    }
    @media #{$small-all} {
        padding: 0;
    }
}

/**
Material shadows
@link https://material.angularjs.org/#/material.components.whiteframe/readme/overview
*/
$shadow-depth-1: 0 2px 5px 0 rgba(0,0,0,.26);
$shadow-depth-2: 0 8px 17px rgba(0,0,0,.2);
$shadow-depth-3: 0 17px 50px rgba(0,0,0,.19);
$shadow-depth-4: 0 16px 28px 0 rgba(0,0,0,.22);
$shadow-depth-5: 0 27px 24px 0 rgba(0,0,0,.2);

/**
Text selection styles
NOTE: These can not be combined in to one selector (e.g. ::selection, ::-moz-selection {})
@link http://css-tricks.com/overriding-the-default-text-selection-color-with-css/
*/
::selection {
  background: #ffb7b7; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #ffb7b7; /* Gecko Browsers */
}
