/**
Basic Bourbon page wrap
*/
.page-wrap {
    @include outer-container;
    @media only screen and (max-width: $max-width) {
        padding-right: $gutter;
        padding-left: $gutter;
    }
    @media #{$small-all} {
        padding: 0;
    }
}

/**
Text selection styles
NOTE: These can not be combined in to one selector (e.g. ::selection, ::-moz-selection {})
@link http://css-tricks.com/overriding-the-default-text-selection-color-with-css/
*/
::selection {
  background: #ffb7b7; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #ffb7b7; /* Gecko Browsers */
}
