[submodule "javascript"]
	path = javascript
	url = git@github.com:max-barry/pattern-trunk-javascript.git
[submodule "search"]
	path = search
	url = git@github.com:max-barry/pattern-trunk-search.git
[submodule "pattern-trunk-scss"]
	path = scss
	url = git@github.com:max-barry/pattern-trunk-scss.git
